* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

body {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.h1 {
    color: #cbd7c4;
    background-color: #414f65;
    padding: 6px 8px;
}

.container {
    width: 300px;
    height: 300px;
    margin: 25px auto 0;
    background: linear-gradient(135deg, lightgray 25%, black 20%);
    border: 1px solid black;
    opacity: 0.97;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.cell {
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 30px;
    height: 30px;
}

.btnO,
.btnX {
    width: 65px;
    border: none;
    background-color: #d4d4d4;
    color: white;
    padding: 0.5px;
}

.disable {
    pointer-events: none;
}

.alert-x {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: #414f65;
    padding: 12px;
    border-radius: 1px;
    color: white;
    display: none;
}

.alert-o {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: #414f65;
    padding: 12px;
    border-radius: 1px;
    color: white;
    display: none;
}
.draw {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: #414f65;
    padding: 12px;
    border-radius: 1px;
    color: white;
    display: none;
}